.main-header { 
    background-color: black;
    width: 100%;
    height: 80px; 
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 1000;
}
    .main-header a {
        color: #fff;
        text-decoration: none;
        padding: 0 30px;



    }
    .header_logo {
        margin-right: 20px;
    }
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }