body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.main-header {
  background-color: black;
  width: 100%;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
a {
  width: 1;
  height: 1;
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
}
a.header_logo {
  margin: 10px;
  padding: 20px 30px;
}

main {
  padding-top: 80px;
  padding: 0;
  height: calc(100vh - 80px);
  background-color: #f5f5f5;
}
.title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.facado1 {
  width: 100vw;
  height: 43vw;
  display: block;
  margin: 0 auto;
}
div {
  padding: 0px;
  width: 100vw;
  height: 1vh;
  
}

.logo1 {
  margin: 0px;
  padding: 0px 0px;
  width: 14vw;
  height: 10vw;
}

.header-logo1 {
  width: 150vw;
  height: auto;
  display: block;
}
h1 {
  color: rgb(181, 166, 166);
  font-size: 48px;
 
 
 
}